
<header>
    <h1 id="label">CalcRoll</h1>
    <img src="../images/menu-icon.png"> 
    <div class="menu">
        <a href="/user"><div class="option">new day</div></a>
        <a href="/user/monthly-report"><div class="option">monthly report</div></a>
        <a href="/user/annual-report"><div class="option">annual report</div></a>
        <a href="/user/statistics"><div class="option">statistics</div></a>
        <a href="/user/log-out"><div class="option">log out</div></a>
    </div>
    <div class="clear"></div>
</header>
